<div class="jumbotron financial-header pb-0 pt-3 mb-0">
  <div class="container">
      <ul class="nav nav-pills justify-content-center">
          <li class="nav-item">
              <a class="nav-link cursor" [matMenuTriggerFor]="menuDay">{{daySelected || 'dia'}}</a>
              <mat-menu #menuDay="matMenu">
                <button mat-menu-item (click)="selectDate('day', '')" >
                  <span> Todos </span>
                </button>
                <button mat-menu-item *ngFor="let day of days" (click)="selectDate('day', day)" >
                  <span>{{ day }}</span>
                </button>
              </mat-menu>
          </li>
          <li class="nav-item">
              <a class="nav-link cursor active" [matMenuTriggerFor]="menuMonth">{{months.MONTHS_NAMES[monthSelected-1]}}</a>
              <mat-menu #menuMonth="matMenu">
                <button mat-menu-item *ngFor="let mes of months.MONTHS" (click)="selectDate('month', mes.value)" >
                  <span>{{ mes.shortName }}</span>
                </button>
              </mat-menu>
          </li>
          <li class="nav-item">
              <a class="nav-link cursor active" (click)="selectDate('year')">{{yearSelected}}</a>
          </li>
          </ul>

    <div class="row chart-container justify-content-center" *ngIf="transactions && transactions.total > 0">
      <div [ngClass]="{'col-md-12': recDesSelected == 2 || recDesSelected == 1, 'col-md-4': recDesSelected == null}"
      [hidden]="!(recDesSelected == null || recDesSelected == 1)">
      <h3 class="text-center">Receitas</h3>
        <app-charts *ngIf="recItems" [data]="recItems"></app-charts>
      </div>
      <div [ngClass]="{'col-md-12': recDesSelected == 2 || recDesSelected == 1, 'col-md-4': recDesSelected == null}"
       [hidden]="!(recDesSelected == null || recDesSelected == 2)">
        <h3 class="text-center">Despesas</h3>
        <app-charts *ngIf="desItems" [data]="desItems"></app-charts>
      </div>
    </div>
  </div>
</div>
<mat-tab-group mat-align-tabs="center" *ngIf="transactions" (selectedTabChange)="changeTab($event);">
<mat-tab label="Todos">
  <app-categories  [items]='transactions.items'></app-categories>
</mat-tab>
<mat-tab label="Receitas">
  <app-categories [items]='recItems'></app-categories>
</mat-tab>
<mat-tab label="Despesas">
  <app-categories [items]='desItems'></app-categories>
</mat-tab>

</mat-tab-group>
