<div class="jumbotron financial-header pb-0 pt-3 mb-0">
    <div class="container">
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Dia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mês</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ano</a>
            </li>
            </ul>

            <h3 class="display-4">{{totalVal  | currency: 'BRL' }}</h3>

        <div class="container chart-container">
            <canvas  id="chart"></canvas>
        </div>
        <ul class="mt-4 nav nav-tabs justify-content-center">
            <li class="nav-item">
            <a class="nav-link active" href="#">CATEGORIAS</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">ATIVIDADES</a>
            </li>
        </ul>
    </div>
</div>
<app-categories *ngIf="transactions" [transactions]='transactions' ></app-categories>
