<div class="row m-0 financial-lists" *ngIf="items">
    <div class="col p-0">
        <a href="#" class="list-group-item list-group-item-action" *ngIf="items.length < 1">
            <div class="d-flex flex-column justify-content-between lign-items-center text-center">
            <h5 class="mb-1">Oh no :(</h5>
            <p>You didnt registered any expenses</p>
            </div>
        </a>
        <div class="list-group" >
            <a class="list-group-item list-group-item-action"
            *ngFor="let item of items" (click)="saveTransactionLocal(item)" routerLink="/admin/{{item?.nome}}/details">
                <div class="d-flex w-100 justify-content-between align-items-center" >
                <div class="icon-container-avatar">
                  <mat-icon [ngClass]="{'icon-avatar-rev--square': item.rec_des === 1, 'icon-avatar-exp--square' : item.rec_des === 2 }">{{!item.icon ? 'favorite' : item.icon}}</mat-icon>
                </div>
                <h4 class="mb-1 flex-grow-1 ml-2">{{item?.nome}}</h4>
                <small>{{item?.valor | currency: 'BRL'}} </small>
                <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
                </div>
            </a>
        </div>
    </div>
</div>
