.chart-container{
  h3{
      color:#ffffff;
  }
  canvas{
      max-width: 320px !important;
      margin: 32px auto;
  }
  // .chart-inner{
  //     top: -192px;
  //     position: relative;
  //     margin-bottom: -192px;
  //     padding: 20px;

  //     h3{
  //         color:#ffffff;
  //     }
  // }
}
