h1{
  color: #fff;
}

// .header-image {
//   mat-icon{
//     background: #f74386;
//     font-size: 1.5em;
//     padding: 8px;
//     color: #ffffff;
//     border-radius: 50%;
//     position: absolute;
//   }
// }

.fab_top {
  position: absolute;
  top: 10px;
  right: 10px;
}
