<!-- <ng-template #new>
  <div class="d-flex justify-content-between app-header">
      <!-- <fa name="angle-left" class="icon" (click)="modalRef.hide()"></fa>
      <fa-icon [icon]="['fas', 'angle-left']"></fa-icon>
       <h5 class="app-link flex-fill">Receita / Despesa</h5>
    </div>
    <div class="modal-body">
      <div class="row align-items-center" *ngIf="newExpenseShowLoading">
        <div class="col">
          <app-loading [title]="newExpenseLoadingTitle" [text]="newExpenseLoadingText" ></app-loading>
        </div>
      </div>
      <div class="row" *ngIf="!newExpenseShowLoading">
          <div class="col">
              <app-new-expense  (isValid)=validChanged($event) [(data)]="newExpense" [displayErrors]="displayFormErrors">
              </app-new-expense >
          </div>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
    </div>

</ng-template> -->
  <h1 mat-dialog-title>
    <mat-icon mat-dialog-close class="cursor mr-3" style="font-size: 1.5em">chevron_left</mat-icon>
    <span>Receita / Despesa</span>
  </h1>
  <div mat-dialog-content>
    <app-new-expense  (isValid)=validChanged($event) [(data)]="newExpense" [displayErrors]="displayFormErrors">
    </app-new-expense >
  </div>
  <div mat-dialog-actions align="center">
    <button mat-raised-button type="submit" color="primary">Salvar</button>
  </div>

